<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Show Images</title>
    <style>
        .image_style {
            width: 200px;
            height: 200px;
            margin: 20px;
            float: left;
        }
    </style>
</head>

<body>
    <!--图片不带标题-->
    <!-- {% for img,name in image_infos %}
    <img style="width: 200px; height: 200px;" hspace="20px" vspace="20px" src="data:image/jpeg;base64, {{ img }}">
    {% endfor %} -->

    <!--图片标题在图片内部最上面一横行-->
    {% for img,name in image_infos %}
    <div class='image_style'>
        <span style='color:white;background-color:black;font-size: 20px;text-align:center;display:block;'>{{
            name}}</span>
        <img style="width: 200px; height: 200px;" src="data:image/jpeg;base64, {{ img }}">
    </div>
    {% endfor %}
</body>

</html>